{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <div class="img">
            <div class="app-title">DrzewoGosi</div>
        </div>
        {% include 'default/nav_bar.html.twig' %}
    </header>
{% endblock %}

{% block body %}
    <section class="posts">
        <div class="row index">
            <aside class="col-md-4">
                <div class="about-me">
                    <div class="title">
                        {#{{ 'about.me'| trans }}#}
                        {{ aboutInfo.section }}
                    </div>
                    {% if aboutInfo.image is not null %}
                        <div class="image">
                            <div class="filled" style="background-image: url({{ aboutInfo.image }})">
                            </div>
                        </div>
                    {% endif %}
                    <div class="desc">
                        {{ aboutInfo.content }}
                    </div>
                </div>
            </aside>
            <div class="col-md-8">
                {% include 'default/posts.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('stylesheets/index.css') }}"
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/index.js') }}"></script>
{% endblock %}
