{% extends "base.html.twig" %}

{% block title %}
    Admin panel
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset("stylesheets/panel_page.css") }}">
{% endblock %}

{% block header %}
    <header>
        {% embed 'default/nav_bar.html.twig' %}
            {% block nav_items %}
                {{ parent() }}
                {% if userLogged %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">{{ trans("admin-posts") }}<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tree_builder">{{ trans("admin-tree-builder") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/sections">{{ trans("admin-sections") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">{{ trans("admin-logout") }}</a>
                    </li>
                {% endif %}
            {% endblock %}
        {% endembed %}
    </header>
{% endblock %}