<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">{{ trans("member-details") }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            {% set partner = member.partner %}
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                       aria-controls="pills-home"
                       aria-selected="true">{{ member.firstName ~" "~ member.lastName }}</a>
                </li>
                {% if partner is not null %}
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                           role="tab" aria-controls="pills-profile"
                           aria-selected="false">{{ partner.firstName ~" "~ partner.lastName }}</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                     aria-labelledby="pills-home-tab">
                    {{ include('tree/templates/member_modal_details_template.html.twig', {selectedMember: member, memberPartner: null}) }}
                </div>
                {% if partner is not null %}
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                         aria-labelledby="pills-profile-tab">
                        {{ include('tree/templates/member_modal_details_template.html.twig', {selectedMember: partner, memberPartner: member}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ trans("close") }}</button>
</div>
