<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div>
                    First name
                </div>
                <div>
                    <input id="memberFirstNameInput" title="First Name" value="{{ selectedMember.firstName }}">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Last name
                </div>
                <div>
                    <input id="memberLastNameInput" title="Last Name" value="{{ selectedMember.lastName }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div>
                    Maiden name
                </div>
                <div>
                    <input id="memberMaidenNameInput" title="Maiden Name" value="{{ selectedMember.maidenName }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    First Parent
                </div>
                <div>
                    <select title="Parent" id="memberParentSelect">
                        <option value="null" {{ selectedMember.firstParent is null ? 'selected' : '' }}></option>
                        {% for member in members %}
                            <option value="{{ member.id }}" {{ member.id == selectedMember.firstParent ? 'selected' : '' }}>{{ member.firstName }} {{ member.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Second Parent
                </div>
                <div>
                    <select title="Parent" id="memberParentSelect">
                        <option value="null" {{ selectedMember.secondParent is null ? 'selected' : '' }}></option>
                        {% for member in members %}
                            <option value="{{ member.id }}" {{ member.id == selectedMember.secondParent ? 'selected' : '' }}>{{ member.firstName }} {{ member.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    Birth date
                </div>
                <div>
                    <input value="{{ selectedMember.birthDate }}" type="date"
                           id="memberBirthDateInput" title="Birth Date">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Death date
                </div>
                <div>
                    <input value="{{ selectedMember.deathDate }}" type="date" id="memberDeathDateInput"
                           title="Death Date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    Partner
                </div>
                <div>
                    <select id="memberPartnerSelect" title="Partner">
                        <option value="" {{ selectedMember.partner is null ? 'selected' : '' }}></option>
                        {% for partner in partners %}
                            <option value="{{ partner.id }}" {{ partner.id == selectedMember.partner.id ? 'selected' : '' }}>{{ partner.firstName }} {{ partner.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Image
                </div>
                <div>
                    <input type="file">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="btn btn-warning" onclick="cancelEditing()">Cancel</div>
            </div>
            <div class="col-md-6">
                <div class="btn btn-success" onclick="saveMemberChanges({{ selectedMember.id }})">
                    Save
                </div>
            </div>
        </div>
    </div>
</div>