{% extends 'admin/base_admin.html.twig' %}

{% block title %}
    {#{{ trans("admin-view-scene-title") }}#}
    Tree Builder - New Member
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("scripts/tree_builder/new_member.js") }}" rel="script" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset("stylesheets/trees_view.css") }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12">
                                    Adding new member
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div>First Name</div>
                                    <input id="firstName" title="First Name" type="text">
                                </div>
                                <div class="col-md-6">
                                    <div>Last Name</div>
                                    <input id="lastName" title="Last Name" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>Maiden Name</div>
                                    <input id="maidenName" title="Maiden Name" type="text">
                                </div>
                                <div class="col-md-6">
                                    <div>Parent</div>
                                    <select id="parent" title="Parent">
                                        <option selected></option>
                                        {% for familyMember in familyMembers %}
                                            <option value="{{ familyMember.id }}">{{ familyMember.firstName }} {{ familyMember.lastName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>Birth Date</div>
                                    <input id="birthDate" title="Birth Date" type="date">
                                </div>
                                <div class="col-md-6">
                                    <div>Death Date</div>
                                    <input id="deathDate" title="Death Date" type="date">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>Partner</div>
                                    <select id="partner" title="Partner">
                                        <option selected></option>
                                        {% for familyMember in familyMembers %}
                                            <option value="{{ familyMember.id }}">{{ familyMember.firstName }} {{ familyMember.lastName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div>Image</div>
                                    <input id="memberImage" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn btn-warning" onclick="window.history.back()">Cancel</div>
                                    <div class="btn btn-success" onclick="saveMember()">Save</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}