<div class="row">
    <div class="col-md-12">
        {% if selectedMember.base == 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="familyHead">
                        <label class="form-check-label" for="familyHead">Base node</label>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <div>
                    {{ trans("user-first-name") }}
                </div>
                <div>
                    <input type="text" id="memberFirstNameInput" title="First Name"
                           value="{{ selectedMember.firstName }}">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    {{ trans("user-last-name") }}
                </div>
                <div>
                    <input type="text" id="memberLastNameInput" title="Last Name" value="{{ selectedMember.lastName }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div>
                    {{ trans("user-maiden-name") }}
                </div>
                <div>
                    <input type="text" id="memberMaidenNameInput" title="Maiden Name"
                           value="{{ selectedMember.maidenName }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    {{ trans("user-first-parent") }}
                </div>
                <div>
                    <select title="Parent" id="memberFirstParentSelect">
                        <option value="" {{ selectedMember.firstParent is null ? 'selected' : '' }}></option>
                        {% for member in members %}
                            <option value="{{ member.id }}" {{ member.id == selectedMember.firstParent ? 'selected' : '' }}>{{ member.firstName }} {{ member.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    {{ trans("user-second-parent") }}
                </div>
                <div>
                    <select title="Parent" id="memberSecondParentSelect">
                        <option value="" {{ selectedMember.secondParent is null ? 'selected' : '' }}></option>
                        {% for member in members %}
                            <option value="{{ member.id }}" {{ member.id == selectedMember.secondParent ? 'selected' : '' }}>{{ member.firstName }} {{ member.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    {{ trans("user-birth-date") }}
                </div>
                <div>
                    <input value="{{ selectedMember.birthDate }}" type="date"
                           id="memberBirthDateInput" title="Birth Date">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    {{ trans("user-death-date") }}
                </div>
                <div>
                    <input value="{{ selectedMember.deathDate }}" type="date" id="memberDeathDateInput"
                           title="Death Date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    {{ trans("user-partner") }}
                </div>
                <div>
                    <select id="memberPartnerSelect" title="Partner">
                        <option value="" {{ selectedMember.partner is null ? 'selected' : '' }}></option>
                        {% for partner in partners %}
                            <option value="{{ partner.id }}" {{ partner.id == selectedMember.partner.id ? 'selected' : '' }}>{{ partner.firstName }} {{ partner.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    {{ trans("user-images") }}
                </div>
                <div class="image-operation-container">
                    {% set images = selectedMember.image %}
                    <form id="imageForm" action="{{ imageAction }}"
                          class="dropzone {{ images|length > 0 ? 'dropzone-hide' : '' }}"
                          data-cancel-upload="{{ trans("cancel") }}"
                          data-remove-file="{{ trans("remove") }}"
                          data-max-file-msg="{{ trans("admin-edit-member-max-file") }}">
                        <div class="dz-message" data-dz-message>
                            <span>{{ trans("admin-edit-member-upload-placeholder") }}</span></div>
                    </form>
                    {% if images is not null and images|length > 0 %}
                        <div class="uploaded-file-container">
                            {% for imageModel in images %}
                                <div class="img-item">
                                    <img src="{{ "/" ~ imageModel.image }}" class="img-fluid" alt="Responsive image">
                                    <div>
                                        <a onclick="removeImage({{ selectedMember.id }})">{{ trans("remove") }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    {{ trans("user-desc") }}
                </div>
                <div class="description-container">
                    <textarea id="memberDescriptionArea" title="Description">{{ selectedMember.description }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row bottom-actions">
            <div class="col-6">
                <div class="btn btn-warning" onclick="cancelEditing()">{{ trans("cancel") }}</div>
                {% if removingEnabled %}
                    <div class="btn btn-danger"
                         onclick="removeUser({{ selectedMember.id }})">{{ trans("remove") }}</div>
                {% endif %}
            </div>
            <div class="col-6 save-container">
                <div class="btn btn-success" onclick="saveMemberChanges({{ selectedMember.id }})">
                    {{ trans("save") }}
                </div>
            </div>
        </div>
    </div>
</div>

{% if removingEnabled %}
    <div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ trans("modal-title-warning") }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ trans("admin-remove-user-dialog-body") }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary cancel"
                            data-dismiss="modal">{{ trans("no") }}</button>
                    <button type="button" class="btn btn-danger ok">{{ trans("yes") }}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}