{% extends 'admin/base_admin.html.twig' %}

{% block title %}
    {#{{ trans("admin-view-scene-title") }}#}
    Tree Builder - New Member
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset("scripts/plugins/dropzone.js") }}"></script>
    <script src="{{ asset("scripts/tree_builder/new_member.js") }}" rel="script" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ asset("stylesheets/dropzone.min.css") }}">
    <link href="{{ asset("stylesheets/trees_view.css") }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <section class="new-member-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ trans("admin-new-member-title") }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div id="alertContainer" class="col-md-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>{{ trans("user-first-name") }}</div>
                                    <input id="firstName" title="First Name" type="text">
                                </div>
                                <div class="col-md-6">
                                    <div>{{ trans("user-last-name") }}</div>
                                    <input id="lastName" title="Last Name" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>{{ trans("user-maiden-name") }}</div>
                                    <input id="maidenName" title="Maiden Name" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>{{ trans("user-first-parent") }}</div>
                                    <select id="firstParent" title="First parent">
                                        <option selected></option>
                                        {% for familyMember in familyMembers %}
                                            <option value="{{ familyMember.id }}">{{ familyMember.firstName }} {{ familyMember.lastName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div>{{ trans("user-second-parent") }}</div>
                                    <select id="secondParent" title="Second parent">
                                        <option selected></option>
                                        {% for familyMember in familyMembers %}
                                            <option value="{{ familyMember.id }}">{{ familyMember.firstName }} {{ familyMember.lastName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>{{ trans("user-birth-date") }}</div>
                                    <input id="birthDate" title="Birth Date" type="date">
                                </div>
                                <div class="col-md-6">
                                    <div>{{ trans("user-death-date") }}</div>
                                    <input id="deathDate" title="Death Date" type="date">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>{{ trans("user-partner") }}</div>
                                    <select id="partner" title="Partner">
                                        <option selected></option>
                                        {% for familyMember in familyMembers %}
                                            <option value="{{ familyMember.id }}">{{ familyMember.firstName }} {{ familyMember.lastName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div>{{ trans("user-images") }}</div>
                                    <form id="imageForm" action="/admin/tree_builder/new_member/upload"
                                          class="dropzone"
                                          data-cancel-upload="{{ trans("cancel") }}"
                                          data-remove-file="{{ trans("remove") }}"
                                          data-max-file-msg="{{ trans("admin-edit-member-max-file") }}">
                                        <div class="dz-message" data-dz-message>
                                            <span>{{ trans("admin-edit-member-upload-placeholder") }}</span></div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        {{ trans("user-desc") }}
                                    </div>
                                    <div>
                                        <textarea id="descriptionArea" title="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn btn-warning"
                                         onclick="window.history.back()">{{ trans("cancel") }}</div>
                                    <div class="btn btn-success" onclick="saveMember()">{{ trans("save") }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}