{% extends 'admin/base_admin.html.twig' %}

{% block title %}
    {{ trans("admin-view-scene-title") }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/admin/post_view.js') }}"></script>
{% endblock %}

{% block body %}
    <section class="post-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        {% block postActions %}
                            <div class="actions">
                                <button class="btn btn-warning"
                                        onclick="window.location.href = '/admin/post/{{ post.id }}/edit'">{{ trans("edit") }}</button>
                                <button class="btn btn-danger"
                                        onclick="showRemoveModal()">{{ trans("remove") }}</button>
                            </div>
                        {% endblock %}
                        <h4 class="card-header">
                            <div class="row">
                                <div class="col-md-8">{{ trans("admin-post-title") }}</div>
                                <div class="col-md-4">
                                    <div class="date">
                                        {{ trans("admin-posts-modified") }}: <span>{{ post.timeStamp }}</span>
                                    </div>
                                </div>
                            </div>
                        </h4>
                        <div class="card-body">
                            {% block postTitle %}
                                <h4 class="card-title">{{ post.title }}</h4>
                            {% endblock %}
                        </div>
                        <h4 class="card-header">{{ trans("admin-post-content") }}</h4>
                        <div class="card-body description">
                            {% block postContent %}
                                <p class="card-text">{{ post.content }}</p>
                            {% endblock %}
                        </div>
                        {% block postImage %}
                            <h4 class="card-header">{{ trans("admin-post-images") }}</h4>
                            <div class="card-body">
                                {% if post.images|length > 0 %}
                                    <img class="card-img-bottom" src="..." alt="Card image cap">
                                    {#<img src="..." alt="..." class="img-thumbnail">#}
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
            {% block customView %}
            {% endblock %}
        </div>
    </section>
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
         aria-labelledby="removeModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Warning!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this post? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="proceedRemoving({{ post.id }})">Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}