{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('stylesheets/tree_page.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/plugins/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/tree_page/tree_generator.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/tree_page/tree_node_support.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/plugins/jsrender.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/plugins/bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block header %}
    <header>
        {% embed 'default/nav_bar.html.twig' %}
        {% endembed %}
    </header>
{% endblock %}

{% block body %}
    <section class="tree-playground">
        <div id="playground" class="row fill">
            <div class="{{ debug ? "col-md-10" : "col-md-12" }}" style="overflow: auto;">
                <table class="table" style="table-layout: fixed;">
                    <tbody>
                    {% set items = 10 %}
                    {% for i in 0..items %}
                        <tr>
                            {% for j in 0..items %}
                                <td>
                                    <div class="tree-container" ondragover="allowDrop(event)"
                                         ondrop="drop(event,{{ items }})">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if debug %}
                <div class="col-md-2 family-manager">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <label>Family persons</label>
                            </div>
                            <div class="person-container">
                                <ul ondragover="allowDrop(event)" ondrop="drop(event)">
                                    {% for i in 0..30 %}
                                        <li id="person{{ i }}" class="draggableTest person-item editable"
                                            draggable="true"
                                            ondragstart="drag(event)" ondragover="makePlace(event)">Test{{ i }} Testowy
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Member details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}