{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('stylesheets/tree_page.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/plugins/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/tree_page.js') }}" type="text/javascript"></script>
{% endblock %}

{% block header %}
    <header>
        {% embed ':default:nav_bar.html.twig' %}
        {% endembed %}
    </header>
{% endblock %}

{% block body %}
    <section class="tree-playground">
        <div id="playground" class="row fill">
            <div class="col-md-10">
                <div id="treeContainer" class="tree-container">

                </div>
            </div>
            <div class="col-md-2 family-manager">
                <div class="row">
                    <div class="col-md-12">
                        <div class="draggableTest" style="background-color: red;">Test</div>
                        <div  class="draggableTest" style="background-color: red;">Test2</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}