{% block userListRow %}
 <tr onclick="alert('Selected user: {{ user.id }}')">
    <th scope="row">{{ loop.index }}</th>
    <td>{{ user.nickName }}</td>
    <td>{{ user.email }}</td>
    <td>
        {% set firstName = user.firstName %}
        {% if firstName|trim is not empty %}
            {{ firstName }}
        {% else %}
            --------------
        {% endif %}
    </td>
    <td>
        {% set lastName = user.lastName %}
        {% if lastName|trim is not empty %}
            {{ lastName }}
        {% else %}
            --------------
        {% endif %}
    </td>
    <td>
        {% set userType = user.userType %}
        {% if userType is not null %}
            {{ userType }}
        {% else %}
            --------------
        {% endif %}
    </td>
</tr>
{% endblock %}