{% block userListRow %}
 <tr>
    {% set postion = loop.index + (usersPage.currentPage - 1) * pageSize %}
    <th scope="row">{{ postion }}</th>
    <td>{{ user.nickName }}</td>
    <td>{{ user.email }}</td>
    <td>
        {% set firstName = user.firstName %}
        {% if firstName|trim is not empty %}
            {{ firstName }}
        {% else %}
            --------------
        {% endif %}
    </td>
    <td>
        {% set lastName = user.lastName %}
        {% if lastName|trim is not empty %}
            {{ lastName }}
        {% else %}
            --------------
        {% endif %}
    </td>
    <td>
        {% set userType = user.userType %}
        {% if userType is not null %}
            {% set userName = trans("admin-users-list-type-" ~ userType) %}
            {% if userName is not empty %}
                {{ userName }}
            {% else %}
                {{ userType }}
            {% endif %}
        {% else %}
            --------------
        {% endif %}
    </td>
    <td>
        <Button class="btn btn-warning" onclick="window.location.href = '/admin/users/edit/{{ user.id }}'">
            Edit
        </Button>
    </td>
</tr>
{% endblock %}