{% block usersList %}
    <table class="table table-striped table-hover">
        <thead class="thead-default">
        <tr>
            <th>#</th>
            {# <th>{{ trans("users-name") }}</th> #}
            <th>Login</th>
            <th>Email</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% set users = usersPage.users %}
        {% for user in users %}
            {% include("admin/users/users_list_row.html.twig") %}
        {% endfor %}
        </tbody>

        {% if usersPage.numberOfPages > 0 %}
        <div class="paging">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% set currentPage = usersPage.currentPage %}
                    {% if currentPage > 1 %}
                        <li class="page-item"><a class="page-link"
                                                    onclick="selectPage({{ (currentPage -1) - 1 }})">Previous</a>
                        </li>
                    {% endif %}
                    {% set pages = 10 %}
                    {% for page in 1..pages %}
                        <li class="page-item {% if currentPage == page %} active {% endif %}"><a
                                    class="page-link"
                                    onclick="selectPage({{ page -1 }})">{{ page }}</a></li>
                    {% endfor %}
                    {% if currentPage < usersPage.numberOfPages %}
                        <li class="page-item"><a class="page-link"
                            onclick="selectPage({{ (currentPage -1) + 1 }})">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
    </table>
{% endblock %}