<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}{{ trans("app-name") }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/bootstrap.min.css') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/base.css') }}"/>
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115060426-1"></script>
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
</head>
<body>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('scripts/plugins/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('scripts/nav_bar.js') }}"></script>
    <script src="{{ asset('scripts/plugins/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
{% include("footer.html.twig") %}
</html>