<div class="left-dot"></div>
<div class="right-dot"></div>
<div class="top-dot"></div>
<div class="bottom-dot"></div>
<div id="container_img_{{ id }}" style="height: 50%; text-align: center;">
    <img>
</div>
<div id="container_{{ id }}" style="height: 50%; line-height: 1;">
    <label style="margin-bottom: 0;">{{ person.name }} {{ person.lastName }}</label>
    <div style="font-size: 14px; margin-bottom: 0;">{{ person.birthDate }}</div>
    <div style="font-size: 14px; margin-bottom: 0;">{{ person.deathDate }}</div>
</div>