<div class="row">
    <div class="col-md-6">
        <div class="person-img">
            <img src="{{ selectedMember.image|length > 0 ? selectedMember.image[0].image : 'web/assets/images/avatar-placeholder.png' }}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <a href="/tree?m={{ selectedMember.id }}">{{ selectedMember.firstName }} {{ selectedMember.lastName }}</a>
            </div>
        </div>
        <div class="row">
            {% set maidenName = selectedMember.maidenName %}
            {% if maidenName is not null and maidenName is not empty %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: trans("user-maiden-name"), value: maidenName}) }}
            {% endif %}

            {% if memberPartner is null %}
                {% set partner = selectedMember.partner %}
            {% else %}
                {% set partner = memberPartner %}
            {% endif %}
            {% if partner is not null %}
                {% set name = partner.firstName ~" "~ partner.lastName %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: trans("user-partner"), value: name}) }}
            {% endif %}

            {% set birthDate = selectedMember.birthDate %}
            {% if birthDate is not null and birthDate is not empty %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: trans("user-birth-date"), value: birthDate}) }}
            {% endif %}

            {% set deathDate = selectedMember.deathDate %}
            {% if deathDate is not null and deathDate is not empty %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: trans("user-death-date"), value: deathDate}) }}
            {% endif %}

            {% set firstParent = selectedMember.firstParent %}
            {% if firstParent is not null and firstParent is not empty %}
                {% set firstParentName = firstParent.firstName ~" "~ firstParent.lastName %}
                {{ include('tree/templates/modal_action_field.html.twig', {label: trans("user-first-parent"),
                    value: firstParentName, link: "/tree?m="~firstParent.id}) }}
            {% endif %}

            {% set secondParent = selectedMember.secondParent %}
            {% if secondParent is not null and secondParent is not empty %}
                {% set secondParentName = secondParent.firstName ~" "~ secondParent.lastName %}
                {{ include('tree/templates/modal_action_field.html.twig', {label: trans("user-second-parent"),
                    value: secondParentName, link: "/tree?m="~secondParent.id})
                }}
            {% endif %}
        </div>
    </div>
</div>
{% set description = selectedMember.description %}
{% if description is not null and description is not empty %}
    <div class="row">
        {{ include('tree/templates/modal_text_field.html.twig', {label: trans("user-desc"), value: description}) }}
    </div>
{% endif %}