<div class="row">
    <div class="col-md-6">
        <div class="person-img">
            <img src="{{ selectedMember.image }}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div>{{ selectedMember.firstName }} {{ selectedMember.lastName }}</div>
            </div>
        </div>
        {% set maidenName = selectedMember.maidenName %}
        {% if maidenName is not null and maidenName is not empty %}
            <div class="row">
                <div class="col-md-12">
                    <div>Maiden name</div>
                    <div>{{ maidenName }}</div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div>Partner</div>
                {% if memberPartner is null %}
                    {% set partner = selectedMember.partner %}
                {% else %}
                    {% set partner = memberPartner %}
                {% endif %}
                <div>{{ partner is null ? "None" : partner.firstName ~" "~ partner.lastName }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>Birth date</div>
                {% set birthDate = selectedMember.birthDate %}
                <div>{{ birthDate is null or birthDate is empty ? "---" : birthDate }}</div>
            </div>
            <div class="col-md-12">
                <div>Death date</div>
                {% set deathDate = selectedMember.deathDate %}
                <div>{{ deathDate is null or deatDate is empty ? "---" : deathDate }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>First parent</div>
                {% set firstParent = selectedMember.firstParent %}
                <div>{{ firstParent is null or firstParent is empty ? "---" : firstParent.firstName ~" "~ firstParent.lastName }}</div>
            </div>
            <div class="col-md-12">
                <div>Second parent</div>
                {% set secondParent = selectedMember.secondParent %}
                <div>{{ secondParent is null or secondParent is empty ? "---" : secondParent.firstName ~" "~ secondParent.lastName }}</div>
            </div>
        </div>
    </div>
</div>
{% set description = selectedMember.description %}
{% if description is not null and description is not empty %}
    <div class="row">
        <div class="col-md-12">
            <div>
                Description
            </div>
            <div>
                {{ selectedMember.description }}
            </div>
        </div>
    </div>
{% endif %}