<div class="row">
    <div class="col-md-6">
        <div class="person-img">
            <img src="{{ selectedMember.image }}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div>{{ selectedMember.firstName }} {{ selectedMember.lastName }}</div>
            </div>
        </div>
        <div class="row">
            {% set maidenName = selectedMember.maidenName %}
            {% if maidenName is not null and maidenName is not empty %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: "Maiden name", value: maidenName}) }}
            {% endif %}

            {% if memberPartner is null %}
                {% set partner = selectedMember.partner %}
            {% else %}
                {% set partner = memberPartner %}
            {% endif %}
            {% if partner is not null %}
                {% set name = partner.firstName ~" "~ partner.lastName %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: "Partner", value: name}) }}
            {% endif %}

            {% set birthDate = selectedMember.birthDate %}
            {% if birthDate is not null and birthDate is not empty %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: "Birth date", value: birthDate}) }}
            {% endif %}

            {% set deathDate = selectedMember.deathDate %}
            {% if deathDate is not null and deathDate is not empty %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: "Death date", value: deathDate}) }}
            {% endif %}


            {% set firstParent = selectedMember.firstParent %}
            {% if firstParent is not null and firstParent is not empty %}
                {% set firstParentName = firstParent.firstName ~" "~ firstParent.lastName %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: "First parent", value: firstParentName}) }}
            {% endif %}

            {% set secondParent = selectedMember.secondParent %}
            {% if secondParent is not null and secondParent is not empty %}
                {% set secondParentName = secondParent.firstName ~" "~ secondParent.lastName %}
                {{ include('tree/templates/modal_text_field.html.twig', {label: "Second parent", value: secondParentName}) }}
            {% endif %}
        </div>
    </div>
</div>
{% set description = selectedMember.description %}
{% if description is not null and description is not empty %}
    <div class="row">
        {{ include('tree/templates/modal_text_field.html.twig', {label: "Description", value: description}) }}
    </div>
{% endif %}